body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:15px;
    margin-top:1%;
    margin-left: 5%;

}
.container{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(1,40%);
    grid-gap: 2%;
}
/* .rancarImages{
    width: 25%;
    height: 40%
}
.rancarImages img{
    width: 90%;
    height: 100%;
}
.rancarDetails{
    width: 40%;
}
.rancarPrice{
    width: 25%;
} */