<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>login</title>

  <link rel="stylesheet" href="./src/public/styles/signin.css" />
  <style></style>
</head>

<body>
  <div id="pcontainer">
    <div class="pimg">
      <img
        src="https://www.zoomcar.com/build/fb65fcc43b8bededb813e093ea2d47d3.svg"
      />
    </div>
    <div class="details">Enter details to login/sign-up</div>
    <input type="tel" id="phone" placeholder="Enter mobile number" style="width:420px; height:45px;  border:1px solid #eeeeee;" onclick="location.href='mobile_login.html'"/>

   

    <hr />
    <button onclick="location.href='email_login.html'" class="mail">
      Continue with Email ID
    </button>

    <hr />

    <button href="social.html" class="mail">Continue via social</button>
  </div>
</body>

</html>